<main>
  <header>
    <div>
      <img src="assets/logo.png"/>
    </div>
    <div class="headlines">
      <h2>Lab »Leading AI«</h2>
      <h3>User Testing - AI Interface in an hour</h3>
    </div>

  </header>
  <nav>
    <div></div>
    <div>
      <p>
        Show - don’t tell <br />
        Lasse die Person die App erst testen und frei erzählen. <br />
        Die fünf Fragen gelten als Hilfestellung.
      </p>
    </div>
    <div></div>


  </nav>


  <article>
    <app-question [question]="q" *ngFor="let q of questions"></app-question>
  </article>
</main>

<br />
<br />
